<!DOCTYPE html>
<html>
<head>
    <title>SSURL Shorten your URL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.5/examples/cover/cover.css" rel="stylesheet">
    <link rel="icon" href="https://free-url-shortener.rb.gy/open-graph.png"/>
    <style>
        .center {
          display: flex;
          justify-content: center;
        }
    </style>
</head>

<body class="text-center">
    <div class="center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            {% block content %}
            {% endblock content %}
        </main>
    </div>




</body>
</html>